body {
  font-family: 'Arial', sans-serif;
  font-style: italic;
  background-color: rgb(225, 245, 245);
  padding: 8px;
  font-size: 16px;
}

.header-logo {
  border: 4px solid #8aa;
  padding: 8px;
  border-radius: 8px;
  height: 150px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  border-bottom: 2px solid #8aa;
}

.content-container:last-child {
  border-bottom: none;
}

.rule-list {
  margin-top: 0;
  background-color: rgb(206, 219, 219);
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-inline-end: 40px;
  padding-inline-start: 40px;
}

.leaderboard-table {
  margin-top: 16px;
  width: 75%;
}

.leaderboard-table th,td {
  padding: 4px;
  text-align: center;
}

.filter-container {
  display: flex;
}

.filter-container button {
    margin: 0 4px;
    cursor: pointer;
}

#all-message {
  font-size: 12px;
  margin-top: 16px;
}

.hidden {
  display: none;
}
